<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
            <div class="grid">
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"></h1>
                        </header>
                        <div class="card__image">
                            <img src="" alt="">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"></h2>
                            <p class="product__description"></p>
                        </div>
                        <div class="card__actions">
                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                        </div>
                    </article>

            </div>
    </main>
<%- include('../includes/end.ejs') %>